<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="container login_container" th:fragment="login">

  <h1>로그인</h1>
  <div class="login_box">
    <form action="/members/login" method="post" th:object="${loginForm}">

      <div class="form_group">
        <div class="input_box">
          <input type="text" th:field="*{userId}" placeholder="아이디">
        </div>
        <p th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"
           th:class="${#fields.hasErrors('userId')}? 'errorMessage': '' "></p>

        <div class="input_box">
          <input type="password" th:field="*{pwd}" placeholder="비밀번호">
        </div>
        <p th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}"
           th:class="${#fields.hasErrors('pwd')}? 'errorMessage': '' "></p>
      </div>

      <p th:if="${#fields.hasGlobalErrors()}" th:each="err : ${#fields.globalErrors()}"
         th:text="${err}" class="errorMessage_bg" style="padding-bottom: 5px;"></p>

      <div class="input_box">
        <button type="submit">로그인</button>
      </div>

      <a href="/members/join">
        <div id="join_button">
          회원가입
        </div>
      </a>

    </form>
  </div>
  
</div>

</html>