@charset "utf-8";

* {
    font-family: 'Gothic A1', sans-serif;
}

body{
  margin: 0;
  min-width: 1040px;
  font-family: 'Gothic A1', sans-serif;
}

.errorMessage {
  font-size: 13px;
  color: red;
  padding-bottom: 5px;
}

.errorMessage_bg {
  font-size: 15px;
  color: red;
  padding-bottom: 5px;
}

.successMessage {
  font-size: 13px;
  color: blue;
  padding-bottom: 5px;
}

.successMessage_bg {
  font-size: 15px;
  color: blue;
  padding-bottom: 5px;
}

#itemCategorySelect {
    width: 100px;
    height: 28px;

    padding: 0 5px;
    margin: 10px 5px;
    font-size: 13px;
    font-weight: 500;

    border: 1px solid #B7C4CF;
}