@charset "utf-8";

* {
    font-family: 'Gothic A1', sans-serif;
}

body{
  margin: 0;
  min-width: 1040px;
  font-family: 'Gothic A1', sans-serif;
}

.errorMessage {
  font-size: 13px;
  color: red;
  padding-bottom: 5px;
}

.errorMessage_bg {
  font-size: 15px;
  color: red;
  padding-bottom: 5px;
}

.successMessage {
  font-size: 13px;
  color: blue;
  padding-bottom: 5px;
}

.successMessage_bg {
  font-size: 15px;
  color: blue;
  padding-bottom: 5px;
}

#itemCategorySelect {
    width: 100px;
    height: 28px;

    padding: 0 5px;
    margin: 10px 5px;
    font-size: 13px;
    font-weight: 500;

    border: 1px solid #B7C4CF;
} 

.filebox {
  display: flex;
  padding: 10px 0 15px 0;
}

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.filebox label {
  padding: .5em .75em;
  margin-right: 5px;
  font-size: inherit;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #B7C4CF;
}

/* named upload */
.filebox .upload-name {
  display: inline-block;
  padding: .5em .75em;  /* label의 패딩값과 일치 */
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid #B7C4CF;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}
