<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/head :: head" />

<body>

    <header th:replace="fragments/header :: header" />

    <div class="container join_container">

        <script type="text/javascript" th:src="@{/js/itemCreate.js}"></script>

        <h1>상품등록</h1>

        <div class="join_box">

            <form action="/items/create" enctype="multipart/form-data" method="post" th:object="${createItemForm}">

                <div class="form_group">
                    <label th:for="category">카테고리</label>
                    <select name="category" id="itemCategorySelect">
                        <option th:each="category : ${T(project.mall.domain.enumtype.Category).values()}"
                                th:value="${category}" th:text="${category}"></option>
                    </select>
                </div>

                <div class="form_group">
                    <label th:for="name">상품명</label>
                    <div class="input_box">
                        <input type="text" id="name" name="name" placeholder="상품명 입력">
                    </div>
                    <div class="errorMessage" id="createItem_name_errorMessage"></div>
                </div>

                <div class="form_group">
                    <label th:for="price">가격</label>
                    <div class="input_box">
                        <input type="text" id="price" name="price" placeholder="가격 입력">
                    </div>
                    <div class="errorMessage" id="createItem_price_errorMessage"></div>
                </div>

                <div class="form_group">
                    <label th:for="stockQuantity">수량</label>
                    <div class="input_box">
                        <input type="text" id="stockQuantity" name="stockQuantity" placeholder="수량 입력">
                    </div>
                    <div class="errorMessage" id="createItem_stockQuantity_errorMessage"></div>
                </div>

                <div class="form_group">
                    <p>상품 이미지</p>
                    <div class="filebox">
                        <label th:for="imageFile">업로드</label>
                        <input type="file" id="imageFile" name="imageFile" class="upload-hidden">
                        <input class="upload-name" value="파일선택" disabled="disabled">
                    </div>
                </div>

<!--                <div class="form_group">-->
<!--                    <p>상세 페이지</p>-->
<!--                    <div class="filebox">-->
<!--                        <label th:for="detailFile">업로드</label>-->
<!--                        <input type="file" id="detailFile" name="detailFile" class="upload-hidden">-->
<!--                        <input class="upload-name" value="파일선택" disabled="disabled">-->
<!--                    </div>-->
<!--                </div>-->

                <div class="input_box">
                    <button type="submit" id="join_button">
                        등록하기
                    </button>
                </div>

            </form>
        </div>

    </div>

    <footer th:replace="fragments/footer :: footer" />

</body>

</html>